.list-container {
  cursor: pointer;
}

.list-menu {
}

.list-popover {
}

.listItem {
  clear: both;
  display: inline-block !important;
  width: 100%;
}

.listCheckbox {
  float: left;
  width: 20px !important;
  margin-top: 10px;
}

.listName {
  float: left;
  width: 79%;
  overflow: hidden;
  text-transform: uppercase;
}

.list-create-new {
  padding: 15px;
  display: inline-block;
  .btn {
    float: right;
  }
}