.youtube-playlist {
  cursor: pointer;
}

.listItem {
  clear: both;
  display: inline-block !important;
  width: 100%;

}

.listCheckbox {
  float: left;
  width: 10% !important;
  margin-top: 10px;
}

.listName {
  float: left;
  width: 79%;
  overflow: hidden;
  text-transform: uppercase;
}

.youtube-playlist-create-new {
  padding: 15px;
  display: inline-block;
  .btn {
    float: right;
  }
}